@using Messege.ViewModels
@using Messege.Models


@model MessageView

            <div id="frnmsg_update" style="display:none">
                @if (Model.FriendNMessage != null)
                {
                    @foreach (var friend in Model.FriendNMessage)
                    {
                        @if (friend.Friend != null)
                        {
                            <div class="container friend_message" id=@friend.Friend.Id>
                                <a asp-controller="Home" asp-action="Message" asp-route-Id="@friend.Friend.Id" class="friend_messag" id="@friend.Friend.Id">
                                    <div class="row">
                                        <table class="table">
                                            <tbody>
                                                <tr class="">

                                                    <td class="col-sm-3 " style="width:auto;height:auto;border:none;padding:1px"><img src="/@friend.Friend.Profile_Picture" height="60 " width="60" class="rounded-circle ml-3 mr-1" /></td>
                                                    <td class="col-sm-7 " style="margin:auto;padding:5px">
                                                        <h5>@friend.Friend.First_Name @friend.Friend.Last_Name</h5>
                                                        @if (friend.Message != null)
                                                        {
                                                            <div><div class="ml-1">@friend.Sender  : @friend.Message</div></div>
                                                        }
                                                        else
                                                        {
                                                            <p></p>
                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </a>
                            </div>

                        }
                    }
                }
            </div>
            <div id="messagebox">
                @if (ViewBag.UserName != null)
                {


                    <div class="card receivername" style="background-color:rgb(219, 166, 242);height:auto">
                        <span style="width:100%">
                            <img src="~/static/back.svg" height="40" width="40" id="back" class="ml-1 mr-1" / > @ViewBag.UserName
                            <img src="~/static/facetime.svg" height="35" width="40" id="video_call" class="ml-auto" style="position:relative;left:58%" />
                        </span>
                    </div>


                    <div class='card message_update' id="scrollanimate" style='height:70vh;overflow-y:scroll;overflow-x:hidden'>
                        <button class="btn-sm form-control more_messages" value="@Model.Lowest_Message.Last_Message_Id">More Messages</button>

                        @foreach (var msg in Model.Conversation)
                        {
                            @if (msg != null)
                            {
                                @if (ViewBag.MyId == msg.Sender_Id)
                                {

                                    <div class="ml-auto mt-1 "><span class='alert alert-danger  '>@msg.Message</span> <img class='rounded-circle profile_picture_afno' height=30 width=30 src="/@msg.Sender_Profile_Picture"></div>

                                }
                                else
                                {
                                    <div class="mr-auto mt-1 "> <img class='rounded-circle profile_picture_arko' height=30 width=30 src="/@msg.Sender_Profile_Picture"><span class='alert alert-info  mr-1 mt-1' style="height:auto">@msg.Message</span></div>

                                }
                            }
                        }

                    </div>


                    <div id="cuserid" value="@ViewBag.MyId" hidden></div>
                    <div id="userid" name="userid" value="@ViewBag.UserId" hidden></div>
                    <div class="btn-group" style="width:100%">
                        <textarea id='message' name='message' class='mt-auto form-control  message' width="70%" rows=1 style="border-radius:20px"></textarea>
                        <span><button type='submit' id="send" class='btn btn-success btn-sm form-control'>Send</button></span>
                    </div>


                }
            </div>
        
        <div class="video_chat_box" hidden>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" style="width:100%">

                    <video autoplay id="usko_video" height="400" width="400"></video><br />


                    <video class="text-center" autoplay id="mero_video" height="100" width="100"></video>

                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>


        <script src="~/signalr.js"></script>

        <script src="~/message.js"></script>
        <div class="col-md-1"></div>
   

    
